<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./dist/css/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
            rel="stylesheet"
        />
        <title>ON-D TIX</title>
    </head>
    <body>
        <header>
            <!-- navigation-->
            <section class="navigation">
                <div class="container">
                    <div class="box-navigation">
                        <div class="box">
                            <a href="#"><img
                                src="image/logo.png"
                                alt="person"
                                width="100px"
                            /></a>
                        </div>
                        <div class="box menu-navigation">
                            <ul>
                                <li>
                                    <i class="ri-home-4-fill"></i>
                                    <a href="#">Beranda</a>
                                </li>
                                <li>
                                    <i class="ri-information-2-fill"></i>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <i class="ri-ticket-fill"></i>
                                    <a href="#">Booking</a>
                                </li>
                                <li>
                                    <i class="ri-login-box-fill"></i>
                                    <a href="#">Login</a>
                                </li>
                            </ul>
                        </div>

                        <div class="box menu-bar">
                            <i class="ri-menu-3-line" style="color: black"></i>
                        </div>
                    </div>
                </div>
            </section>
            <!-- navigation-->

            <!--hero-->
            <section class="hero">
                <h1>
                    Jelajahi Destinasi Anda dengan Mudah: Pesan Tiket Kereta dan
                    Bus Tanpa Ribet!
                </h1>
            </section>
            <!--hero-->
        </header>

        <!--about-->
        <section class="about">
            <div class="container">
                <div class="box-about">
                    <div class="box">
                        <h1>About</h1>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Voluptatem tempore in placeat rem ut, dicta
                            impedit perferendis, dolores, laboriosam amet
                            similique est magni at labore excepturi vitae fuga
                            eum saepe.
                        </p>
                    </div>
                    <div class="box">
                        <img src="image/logo.png" alt="" />
                    </div>
                </div>
            </div>
        </section>
        <!--about-->

        <!--card menu-->
        <section class="card-menu">
            <div class="card">
                <div class="card-header">
                    <h2>Kereta</h2>
                </div>
                <div class="card-body">
                    <div class="image-container">
                        <img src="image/kereta_vector.png" alt="" />
                    </div>
                    <div class="text-container">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Provident nisi ducimus explicabo quaerat iste
                            accusamus eos ipsam nihil numquam doloribus?
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#">Booking Ticket!</a>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h2>Bus</h2>
                </div>
                <div class="card-body">
                    <div class="image-container">
                        <img src="image/bus_vector.png" alt="" />
                    </div>
                    <div class="text-container">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Provident nisi ducimus explicabo quaerat iste
                            accusamus eos ipsam nihil numquam doloribus?
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#">Booking Ticket!</a>
                </div>
            </div>
        </section>

        <!--card menu-->

        <!--destination-->

        <section class="destination">
            <div class="judul-destinasi">
                <h1>Temukan Tujuan Stasiun dan Terminal Anda</h1>
            </div>
            <div class="card-container">
                <a href="#">
                    <div class="card-destinasi">
                        <img src="image/bandung.jpg" alt="" />
                        <h2>Jawa Barat</h2>
                        <p>99 Stasiun</p>
                        <p>99 Terminal</p>
                    </div>
                </a>
                <a href="#">
                    <div class="card-destinasi">
                        <img src="image/semarang.jpg" alt="" />
                        <h2>Jawa Tengah</h2>
                        <p>99 Stasiun</p>
                        <p>99 Terminal</p>
                    </div>
                </a>
                <a href="#">
                    <div class="card-destinasi">
                        <img src="image/surabaya.jpg" alt="" />
                        <h2>Jawa Timur</h2>
                        <p>99 Stasiun</p>
                        <p>99 Terminal</p>
                    </div>
                </a>
            </div>
        </section>
        <!--destination-->

        <!--footer-->
    
        <!--footer-->

        <script src="./dist/js/script.js"></script>
    </body>
</html>
